body {
	background-color:#E5EECC;
	color: #617F10;
	font-family:Arial,Helvetica,sans-serif;
}

a:link {
	color:#66BB33;
	text-decoration:none;
}
a:visited {
	color:#66BB33;
	text-decoration:none;
}
a:hover {
	color:#66BB33;
	text-decoration:underline;
}
a:active {
	text-decoration:underline;
}