<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ahy-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
</context-param>

 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jahy</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>ContentResource Servlet</servlet-name>
  <servlet-class>br.com.manish.ahy.web.ContentResourceServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>ContentResource Servlet</servlet-name>
  <url-pattern>*.png</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ContentResource Servlet</servlet-name>
  <url-pattern>*.jpg</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ContentResource Servlet</servlet-name>
  <url-pattern>*.gif</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ContentResource Servlet</servlet-name>
  <url-pattern>*.css</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>Content Servlet</servlet-name>
  <servlet-class>br.com.manish.ahy.web.ContentServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>Content Servlet</servlet-name>
  <url-pattern>*.ahy</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>WS Servlet</servlet-name>
  <servlet-class>br.com.manish.ahy.web.WSServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>WS Servlet</servlet-name>
  <url-pattern>/ws/*</url-pattern>
 </servlet-mapping>

 <session-config>
  <session-timeout>30</session-timeout> 
 </session-config>

</web-app>